html,
body {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-family: futura, Nunito;
  overflow: hidden;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
